<img width="100%" src="../images/banner1.png"  border=0 />
<p id="notice"><%= notice %></p>

<p>
<b>Username:</b>
<%= @user.username %>
</p>

<p>
<b>Email:</b>
<%= @user.email %>
</p>

<%= link_to 'Home', administrator_index_path %>